<template>

<div class="content">
    <div class="container-fluid">
      <div class="row">
                <div class="col-md-4">
          <chart-card :chart-data="pieChart.data" chart-type="Pie">
            <template slot="header">
              <h4 class="card-title">Criminal Infos</h4>
              <p class="card-category">Criminal skin color predictions</p>
            </template>
            <template slot="footer">
              <div class="legend">
                Age {{crime.age}}<br>
                Gender: {{crime.gender}}<br>
                Glasses: {{crime.glasses}}<br>
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-clock-o"></i>{{crime.gallery}}
              </div>
            </template>
          </chart-card>
        </div>
<div class="col-md-8">
<card>
  <b-row>
    <b-col cols="8">
      <h4>
        Crime captures
      </h4>
      <b-jumbotron>
        <template slot="header">
        </template>
        <template slot="lead">
          Frames: <br>
                <img v-img:my-group :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/'+crime.gallery.substr(14, 2)+'_07.jpg')" >
                <img v-img:my-group :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/'+crime.gallery.substr(14, 2)+'_14.jpg')" >
                <img v-img:my-group :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/'+crime.gallery.substr(14, 2)+'_21.jpg')" >
                <img v-img:my-group :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/'+crime.gallery.substr(14, 2)+'_28.jpg')" >
                <img v-img:my-group :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/'+crime.gallery.substr(14, 2)+'_35.jpg')" >
                <img v-img:my-group :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/'+crime.gallery.substr(14, 2)+'_42.jpg')" >
                <img v-img:my-group :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/'+crime.gallery.substr(14, 2)+'_49.jpg')" >
                <img v-img:my-group :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/'+crime.gallery.substr(14, 2)+'_56.jpg')" >
           <br><br><br><br><h2> Recongnized </h2> <br><br>

                <img v-img:recognized :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/recognized/05.jpg')" >
                <img v-img:recognized :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/recognized/10.jpg')" >
                <img v-img:recognized :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/recognized/15.jpg')" >
                <img v-img:recognized :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/recognized/20.jpg')" >
                <img v-img:recognized :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/recognized/25.jpg')" >
                <img v-img:recognized :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/recognized/30.jpg')" >
                <img v-img:recognized :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/recognized/35.jpg')" >
                <img v-img:recognized :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/recognized/40.jpg')" >
                <img v-img:recognized :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/recognized/45.jpg')" >
                <img v-img:recognized :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/recognized/50.jpg')" >
                <img v-img:recognized :src="('http://localhost:8080/incidents/'+crime.gallery.substr(0, 10)+'/'+crime.gallery.substr(11, 5)+'/recognized/55.jpg')" >
                
        </template>
        <hr class="my-4">
        <router-link class="btn btn-info" to="/admin/crimes">Return</router-link>
      </b-jumbotron>
    </b-col>
  </b-row>
  </card>
</div>
</div>
    </div>
  </div>
</template>

<script>
import ChartCard from 'src/components/UIComponents/Cards/ChartCard.vue'
import axios from 'axios'
import Card from 'src/components/UIComponents/Cards/Card.vue'
import Vue from 'vue';
import VueImg from 'v-img';
 
Vue.use(VueImg);
export default {
  methods: {
    imageLoadError () {
      console.log('Image failed to load');
    }},
  name: 'crimeInfo',
  components: {
    ChartCard,
    Card
  },
  data () {
      return {
        editTooltip: 'Edit Task',
        deleteTooltip: 'Remove',
        pieChart: {
          data: {
            labels: ['White','Other', 'Black', 'Asian','Hispanic','Other'],
            series: [35, 5, 20, 30, 10]
          }
        },
        crime: [],
        errors: []
  }},
  created () {
    axios.get(`http://localhost:3000/criminal/` + this.$route.params.id)
    .then(response => {
      this.crime = response.data


            var array = [],
            j = 0;
            for(var i = min; i <= max; i++){
            array[j] = i;
            j++;
            }
            return array;
            
    })

    .catch(e => {
      this.errors.push(e)
    })
    
  }
}
</script>

<style>
  .jumbotron {
    padding: 2rem;
  }
</style>